@tailwind base;

@tailwind components;

@tailwind utilities;

.logo{
  height:40px;
}
.header{
  background-color: #0F142C
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;
}
.flex-grid-thirds > * {
  margin-bottom: 1rem;
}
.flex-grid-thirds .col {
  width: 32%;
}
img {
  max-height: 300px;
}