@tailwind base;

@tailwind components;

@tailwind utilities;

.logo{
  height:40px;
}
.header{
  background-color: #0F142C
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;
}
.flex-grid-thirds > * {
  margin-bottom: 1rem;
}
.flex-grid-thirds .col {
  width: 32%;
}
img {
  max-height: 300px;
}
.hbs{
  padding: 20px;
  background-color: bisque;
  min-height: 200px;
  display:flex;
  align-items: center;
}
h1{
  font-size: 24px;
  font-weight:bold;
}
h2{
  font-size: 18px;
  font-weight:bold;
}