<div class="flex flex-wrap -mx-1 overflow-hidden">
  <Input @value={{this.searchText}}
    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
    id="grid-zip" type="text" placeholder="Search" />
  <div class="flex-grid-thirds" id="grid">
    {{yield this.beerList}}
  </div>
</div>

